.cours-template .parent {
	width: 80vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 2vh 5vw;
	margin-bottom: 2vh;
}

.cours-template .parent div li{
	width: max-content;
}

.cours-template h1 {
	text-align: center;
}

.cours-template {
	border: 1px solid white;
	overflow: none;
}