.section {
	display: grid;
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 5%;
	margin-top: 5%;
	text-align: justify;
	font-size: large;
}

.article1 {
	grid-area: 1 / 2 / 2 / 3;
}
.article2 {
	grid-area: 3 / 2 / 4 / 3;
}

.div3 {
	grid-area: 2 / 2 / 3 / 3;
}
.div4 {
	grid-area: 4 / 2 / 5 / 3;
}
.div5 {
	grid-area: 5 / 2 / 6 / 3;
}

@media screen and (max-width: 850px) {
	.section{
    grid-template-columns: 1fr 10fr 1fr;
  }
}
