.school-template .parent {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-gap: 2vh 5vw;
	margin-bottom: 2vh;
}

.school-template .parent div li{
	width: 100%;
  font-size: 1.5rem;
}

.school-template h1 {
  text-align: center;
  font-size: 3rem;
}

.school-template {
	border: 1px solid white;
	overflow: none;
}
