#php{
    display: none;
}


/*Thème de base du site*/

body {
    color:black;
    background-color: lightgrey;
    }

h1{
    text-align: center;
    text-decoration: underline;
}

a{
    text-decoration: none;
    font-style: italic;
}

a:link{
    color: black;
    
 }

a:hover{
    color: red;
    text-decoration: underline;
	
}

a:visited { 
    color: black; 
    
}

/*Page d'acceuil*/

/*Header*/

#conteneur1{
    display: flex;
    
    justify-content: space-around;

    align-items: center;

    border: 2px solid black;
    
    height: max-content;
    min-width: 600px;
    
    background-color: #9fe855;


}

.bloc{
    background-color: #9fe855;
    height: 120px;
    align-items: center;
}

.bloc:nth-child(1){
    width: 271px;
    
    
}


.bloc:nth-child(1)>img{
    width: 193px;    
    height: 62px;
    
}

.bloc:nth-child(2){
    width: auto;    
}


.bloc:nth-child(3){
    width: 271px;
    
    
}


.bloc:nth-child(3)>img{
    width: 193px;    
    height: 62px;    
}

/*Navigation*/

#liens>li{
    font-weight: bold;
    list-style-type: none;
}



#sous_conteneur{
    display: flex;
    

    border: 2px solid black;
    border-top: lightgrey;
    border-bottom: lightgrey;
    padding: 5px;
    
    width: max-content;
    height: max-content;
    
    background-color: #9fe855;

}

/*Section*/

#section1,nav{
    display: inline-block;
    vertical-align: top;
}

#section1{
    align-items: center;
    width: auto;
}
    


/*Footer*/
#conteneur3{
    display: flex;
        
    justify-content: space-around;
    
    align-items: center;
    
    border: 2px solid black;
        
    height: max-content;
    min-width: 600px;
        
    background-color: #9fe855;
    
    
    }

.bloc_3{
    background-color: #9fe855;
    height: max-content;
    align-items: center;
    width: max-content;
    padding: 5px;
    }
    



