
/*Thème de base du site*/

body {
    color:white;
    background-color: #1e1e1e;
    }

h1{
    text-align: center;
    text-decoration: underline;
}

a{
    text-decoration: none;
    font-style: italic;
}

a:link{
    color: white;
    
 }


a:visited { 
    color: white; 
    
}

a:hover{
    color: red;
    text-decoration: underline;
	
}
/*Grille*/
.grille{
    display: grid;
}
.one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }
  .grille{
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: "one . two" "three . four" "five . six";
}

@media screen and (max-width: 850px) {
    .grille{
        grid-template-areas: "one" "two" "three" "four" "five" "six";
    }

}