<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="SOLER Lilian">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles3.css" />
	<title>Livraison à Domicile Pascal Maeste</title>
	</head>
	<body>
		<div id="app" class="app">
			<h1>{{ normalizeName }}</h1>
			<p class="description">
				Bienvenue dans notre café {{ bakery.name }}! Nous sommes réputés pour
				notre pain et nos merveilleuses pâtisseries. Faites vous plaisir dès le
				matin ou avec un goûter réconfortant. Mais attention, vous verrez qu'il
				est difficile de s'arrêter.
			</p>

			<section class="menu">
				<h2>Menu</h2>
				<div class="menu-item" v-for="item in simpleMenu" :key="item.name">
					<img
						class="menu-item__image"
						:src="item.image.source"
						:alt="item.image.alt"
					/>
					<div>
						<h3>{{item.name}}</h3>
						<p v-if='item.inStock'>En stock</p>
						<p v-else>En rupture de stock</p>
						<div>
							<label  for="add-item-quantity">Quantité : {{item.quantity}}</label>
							<input id="add-item-quantity" type="number" v-model.number='item.quantity'/>
							<button @click='addToShoppingCart(item.quantity)'>Ajouter au panier d'achat</button>
						</div>
					</div>
				</div>
			</section>

			<aside class="shopping-cart">
				<h2>Panier d'achat: {{numberOfArticles}} articles</h2>
			</aside>

			<h2>Contactez nous</h2>
			<p>Adresse : {{ bakery.address }}</p>
			<p>Téléphone : {{ prettyPhoneNumber }}</p>
			<p>Email : {{ bakery.email }}</p>
			<p>Horaires :</p>
			<ul>
				<li>L-V: 06:00 à 16:00</li>
				<li>Samedi: 07:00 à 14:00</li>
				<li>Dimanche: 07:00 à 12:00</li>
			</ul>

			<footer class="footer">
				<p>Copyright {{normalizeName + ' ' + currentYear}}</p>
			</footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			const app = new Vue({
				el: "#app",
				data: {
          bakery: { 
          name: "la boulange Maeste",
          phoneNumber: '0188888888',
          email:'pascal@bakery.com',
          adresse:"18 avenue du Beurre, Monein, France",
        },
					simpleMenu: [
						{
							name: "Croissant",
							image: {
								source: "./images3/croissant.jpg",
								alt: "Un croissant"
							},
							inStock: true,
							quantity: 1,
						},
						{
							name: "Baguette de pain",
							image: {
								source: "./images3/french-baguette.jpeg",
								alt: "Quatre baguettes de pain"
							},
							inStock: true,
							quantity: 1,
						},
						{
							name: "Éclair",
							image: {
								source: "./images3/eclair.jpg",
								alt: "Éclair au chocolat"
							},
							inStock: true,
							quantity: 1,
						}
					],
          numberOfArticles: 0,
				},
				computed: {
        prettyPhoneNumber(){
          return this.bakery.phoneNumber.replace(/(.{5})(?=.)/g," ")
        },
        normalizeName(){
          return this.bakery.name[0].toUpperCase()+this.bakery.name.slice(1)
        },
        currentYear(){
          return new Date().getFullYear()
        }
				},
        methods: {
          addToShoppingCart(amount){
            this.numberOfArticles += amount
          }
        }
			})
		</script>
	</body>
</html>