
/* quelques régles par défaut*/
p{
    
    color: blue;
}


/*Rédiger vos propriétés CSS ici */
@media screen and (max-width: 1024px){
    p{
        color: red;
        background-color: black;
        font-size: 1.2em;

    }
    
}