@font-face{/*importe une nouvelle police */
    font-family: 'Rubikregular';
    src: url('/police/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    text-align: center;
}

p{
    font-family: 'Rubikregular',"Arial Black", Arial, Verdana,sans-serif;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold; /*Gras*/
    text-decoration: overline; /*Met une barre dessus */
    text-decoration: underline; /*Souligne*/
    text-align: justify; /*justifie*/

}

.imageflottante{
    float: left;
}

.autreparagraphe{
    clear: left;
}