nav{

/*1 float: left;*/

/*2 position: absolute
top:0px
bottom:
right:
left:
z-index:1
*/

display: inline-block;
vertical-align: top;

width: 150px;
border: 1px solid black;
}

section{
/*1 margin-left: 170px;*/
border: 1px solid blue;
}

/* Techniques à éviter car on a flexbox*/