body {
	font-family: Arial, sans-serif;
	margin: 50px;
}

img {
	width: 30px;
}

div#grid img {
	display: inline;
	width: 90px;
	/*margin-right: -5px;*/
	vertical-align: middle;
}

.first {
	display: block;
}
#grid {
	text-align: center;
	float: left;
	border: solid 1px blue;
	margin-top: 30px;
	padding: 10px;
}

#result {
	font-size:20pt;
	width: 300px;
	text-align: center;
	border: solid 5px blue;
	border-radius: 10px;
	padding: 10px;
	margin-right: 70px;
	float: right;
	visibility: hidden;
}
