div#editor {
    position: fixed;
    top: 20px;
    right: 20px;
    border: solid 2px #211F1B;
    background-color: #757062;
    padding: 10px;
    text-align: center;
    z-index: 7;
}

div#editor textarea {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    border: solid 2px #211F1B;
    padding: 2px;
    width:400px;
    height:200px;
}

div#editor input {
    padding: 3px;
    margin: 3px;
}
